.prueba {
    height: 50%;
    width: 80%;
    top: 19%;
    position: absolute;
    left: 10%;
    background-color: rgb(139, 67, 0);
}

.prueba {
    height: 50%;
    width: 80%;
    top: 19%;
    position: absolute;
    left: 10%;
    background-color: rgb(139, 67, 0);
}