#batidos {
    background-color: black;
    position: absolute;
    top: 15%;
    left: 8%;
}

#batidos h1 {
    color: white;
    padding-bottom: 5%;
    padding-top: 2%;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}

#batidos h3 {
    color: chocolate;
    font-family: 'Architects Daughter', cursive;
}