body {
    margin: 0;
    padding: 0;
    background: url(/img/Fondo1.jpg)no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Architects Daughter', cursive;
    height: 100vh;
}

.Batidos {
    align-items: center;
    width: 85%;
    height: 30%;
    top: 3%;
    left: 14%;
    position: absolute;
    background-color: rgba(228, 109, 24, 0);
    padding: 0px 0;
    border-radius: 12px;
}

.Calculator {
    align-items: center;
    width: 45%;
    height: 60%;
    top: 35%;
    left: 2%;
    position: absolute;
    background-color: rgba(56, 56, 56, 0.247);
    padding: 0px 0;
    border-radius: 12px;
}

.Contenedor {
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.144);
    padding: 0px 0;
    border-radius: 12px;
}

.Dieta {
    align-items: center;
    width: 49%;
    height: 60%;
    top: 35%;
    left: 50%;
    position: absolute;
    background-color: rgba(44, 43, 42, 0.384);
    padding: 0px 0;
    border-radius: 12px;
}

.Logo {
    width: 200px;
    height: 170px;
    top: 3%;
    left: 0%;
    position: absolute;
}


/*------------------------
  Bmi Calculator Section
-------------------------*/

.bmi-calculator-section {
    background: #0a0a0aa1;
    width: 90%;
    height: 95%;
    left: 5%;
    top: 3%;
    position: absolute;
}

.section-title.chart-title {
    text-align: left;
}

.chart-table table {
    border: 1px solid #000000e0;
    width: 90%;
    left: 5%;
    position: absolute;
}

.chart-table table thead {
    border-bottom: 1px solid #f8090900;
}

.chart-table table thead tr th {
    background: #060606;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    border-right: 1px solid #363636;
    padding: 14px 0 11px 50px;
    margin-bottom: 20px;
}

.chart-table table tbody tr:nth-child(even) {
    background: #000000;
}

.chart-table table tbody tr td {
    font-size: 14px;
    color: #bebaba;
    border-right: 1px solid #030303f5;
    padding: 17px 0 17px 50px;
}

.chart-table table tbody tr td.point {
    width: 200px;
}

.section-title.chart-calculate-title {
    text-align: left;
}

.chart-calculate-form p {
    color: #c4c4c4;
    margin-bottom: 24px;
}

.chart-calculate-form form input {
    font-size: 14px;
    color: #c4c4c4;
    width: 100%;
    height: 50px;
    border: 1px solid #dd070700;
    padding-left: 20px;
    padding-right: 5px;
    background: transparent;
    margin-bottom: 20px;
}

.chart-calculate-form form input::-webkit-input-placeholder {
    color: #c4c4c4;
}

.chart-calculate-form form input::-moz-placeholder {
    color: #c4c4c4;
}

.chart-calculate-form form input:-ms-input-placeholder {
    color: #c4c4c4;
}

.chart-calculate-form form input::-ms-input-placeholder {
    color: #c4c4c4;
}

.chart-calculate-form form input::placeholder {
    color: #c4c4c4;
}

.chart-calculate-form form button {
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    width: 50%;
    border: none;
    padding: 15px 0;
    background: #f36100;
    border-radius: 20px;
    position: absolute;
    left: 2%;
}